body{
	background-color:white;
    font-family: 'Open Sans', sans-serif;
}
header {
	width:100%;
	overflow:hidden;
	background:#6b3f23;
	margin-bottom:-12px;
	border-top: 7px solid #ffb819;
    width: 100%;
    height: 142px;
}

h1{
 	color: #6b3f22;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

h2{
 	color: #6b3f22;
    font-size: 25px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 800;

}

header .logo {
	color:#6b3f23;
	font-size:50px;
	line-height:200px;
	float:left;
	background-image: url(../../assets/img/logo_kubera_amarillo.png);
    background-repeat: no-repeat;
	height: 54px;
	width: 166px;
	position: relative;
	top: 33px;
	left: 10%;
	cursor: pointer;
}
 
header nav {
	float:right;
	line-height:100px;
}

header nav a {
	display:inline-block;
	color:white;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:17px;    
	font-weight:600;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 


hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 105%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

footer .footer{
	background-image: url(../../assets/img/footer.jpg);
	width: 100%;
	height: 633px;
    margin-top: 10px;
}

.wrapper {
	width:100%;
	max-width:100%; 
	margin:-21px; 
	overflow:hidden;
}


.fixed-header {
 position:fixed;
 background:#fffbd7;
 box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
 -o-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
 z-index:100;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
  height: 115px;
}

.fixed-header .navbar-top {
	background:none;
	padding:4px 0 0 0;
	color:#6b3f22;
}

.fixed-header .navbar-top .unirse-icon {
	background:url(assets/img/unirse2.png) no-repeat center right;
	background-size:contain;
	width:40px;
	height:31px;
}


.fixed-header .navbar-top .sesion-icon {
	background:url(assets/img/ingresar2.png) no-repeat center right;
	background-size:contain;
	width:40px;
	height:31px;
}

.fixed-header .navbar-top a {
	color:#6b3f22 !important;
}

.fixed-header .navbar-top .dropdown a {
	color:#fff !important;
}


.fixed-header .navbar-top .marca-image  {
	background:url(assets/img/logo_kubera_color.png) no-repeat center right;
	width:166px;
	height:52px;
}


.amarillo {
	color:#ffc63d;
}

.amarillo:hover {
    color:#6b3f22;
}

.blanco {
	color:white;
}
.cafe{
	color: #6b3f23;
}

.redes{
	position: relative;
	top: 40%;
}
.servicio{
	position: relative;
	top: 13%;
}
.ayuda{
	position: relative;
	top: 13%;
    left: 50px;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}

.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #6b3f22;
    border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    background-color: #ffb718;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.buscar {
	background-color:#f37a63;
	border-bottom:3px solid #f26c51;
	padding:15px 5px;
	text-align:center;
    margin-bottom: 40px;
    margin-top: 14px;
}

.buscar-consultor input[type="text"]
 {
    color: #000 !important;
    font-size:12px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
	line-height:normal;
	font-weight:600;
	border:0 !important;
	border-radius:25px 0 0 25px !important;
    outline: none;
    width:70% !important;
    height: 42px;
    padding:13px 20px !important;
    margin: 0 !important;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.empezar-busqueda {
	background:url(../../assets/img/search.png) no-repeat center right;
	background-color:#f26c51;
	color:#fff;
	padding:9px 68px 11px 30px;
	border:0;
	font-size:10px;
	font-weight:600;
	cursor:pointer;
	border-radius:0 25px 25px 0;
	border:1px solid #fff;
	margin:0 0 0 -3px;
    height: 42px;
    margin-top: -4px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.empezar-busqueda:hover {
	background:url(../../assets/img/search-over.png) no-repeat center right;
	background-color:#ffc63d;
	color:#6b3f22;
	text-decoration:none;
}
.img-cliente {
    background:url(../../assets/img/prueba.jpg) no-repeat top center;
    width:28px;
    height:11px;
    text-align:center;
    margin:0 auto;
    display:block;
    margin-top:-41px;
}

.buscar-icon {
    background: url(../../assets/img/eye.png) no-repeat center right;
    background-size: contain !important;
    width: 40px;
    height: 31px;
    vertical-align: middle;
    padding-right: 44px;
}

.unirse-icon {
    background: url(../../assets/img/unirse.png) no-repeat center right;
    background-size: contain !important;
    width: 40px;
    height: 31px;
    vertical-align: middle;
    padding-right: 44px;
}

.unirse-icon-1 {
    background: url(../../assets/img/ingresar.png) no-repeat center right;
    width: 40px;
    height: 31px;
    padding-right: 44px;
}

.ingresar-icon {
    background: url(../../assets/img/ingresar.png) no-repeat center right;
    background-size: contain !important;
    width: 40px;
    height: 31px;
    vertical-align: middle;
    padding-right: 44px;
}

.unirse-icon-2 {
    background: url(../../assets/img/ico_1_comenzando.png) no-repeat center right;
    width: 62px;
    height: 43px;
    margin: -26px;
    margin-left: -410px;

}
.unirse-icon-3 {
    background: url(../../assets/img/ico_2_buscando.png) no-repeat center right;
    width: 64px;
    height: 43px;
    padding-right: 66px;
    margin:-22px;
    margin-left: -491px;

}

.boton-unete{
	color: #6b3f22;
    background-color: #ffc63d;
    border-radius: 100px;
}

#buscar{
	position: relative;
	left: -110%;
    margin-right: 2px;
    margin-top: 63px;
}

#volver{
	color: white;
	background-color: #f37a63;
	width: 256px;
	height: 32px;
	border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 22px;
    padding-top: 2px;
    margin-left: 22px;
}

#volver:hover{
    color: white;
    background-color: #ffc63d;
    width: 256px;
    height: 32px;
    border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 22px;
    padding-top: 6px;
    margin-left: 22px;
}

#comenzando{
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: -79px;
    color: white;
    width: 550px;
    height: 69px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 280px;
    padding-left: 50px;
    padding-right: 50px;
}



#comenzando:hover{
    background: url(../../assets/img/over-07.png) no-repeat center right;
     background-position: -79px;
  
}

#comenzandoCliente{
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: -79px;
    color: white;
    width: 550px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 280px;
    padding-left: 50px;
    padding-right: 50px;
}



#comenzandoCliente:hover{
    background: url(../../assets/img/over-07.png) no-repeat center right;
     background-position: -79px;
  
}

#soluciones{
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: -79px;
    color: white;
    width: 550px;
    height: 69px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 280px;
    padding-left: 50px;
    padding-right: 50px; 
    padding-top: 3px;
}
#solucionesimg{
    background: url(../../assets/img/ingresar-over.padding) no-repeat center right;
    background-position: -79px;
    color: white;
    width: 550px;
    height: 69px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 280px;
    padding-left: 50px;
    padding-right: 50px; 
}
#soluciones:hover{
    background: url(../../assets/img/over-07.png) no-repeat center right;
     background-position: -79px;
  }


.blog{
    background: url(../../assets/img/over-09.png) no-repeat center right;
    background-position: 35px;
    background-size: 218px; 
    border-radius: 20px;
    height: 59px;
    width: 255px;
    left:24%;
    padding-top: 21px;
    font-weight: bold;
    padding-left: 75px;
    margin-left:-115px;
}

.blog:hover{
    background: url(../../assets/img/over-11.png) no-repeat center right;
    background-position: 35px;
    background-size: 218px; 
}

.tutoriales{
    background: url(../../assets/img/over-08.png) no-repeat center right;
    background-position: 17px;
    background-size: 219px; 
	height: 59px;
    width: 249px;
    left:10%;
    padding-top: 21px;
    font-weight: bold;
    padding-left: 62px;
    margin-left: 157px;
}

.tutoriales:hover{
    background: url(../../assets/img/over-10.png) no-repeat center right;
    background-position: 17px;
    background-size: 219px; 
}

.respuesta{
	text-align: left;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
    margin-top: 5px;

}
 
.accordion {
    overflow:hidden;
    border-radius:10px;
    background:white;
}
 
/*----- Section Titles -----*/
.accordion-section-title, .accordion-section-title2, .accordion-section-title3, .accordion-section-title4, .accordion-section-title5, .accordion-section-title6 {
    width:50%;
    padding:15px;
    display:inline-block;
    background:#ffc63d;
    transition:all linear 0.15s;
    /* Type */
    font-size:14px;
    color:#6d4b12;
    border-radius: 100px;
    text-align: left;
    height: 38px;
    padding-top: 3px;
    font-size: 12px;

}
 
.accordion-section-title.active, .accordion-section-title:hover, .accordion-section-title2.active, .accordion-section-title2:hover, .accordion-section-title3.active, .accordion-section-title3:hover, .accordion-section-title4.active, .accordion-section-title4:hover, .accordion-section-title5.active, .accordion-section-title5:hover, .accordion-section-title6.active, .accordion-section-title6:hover{
    background:#6b3f22;
    /* Type */
    text-decoration:none;
    color: #ffc63d;
    border-radius: 100px;
}
.accordion-section-title:focus, .accordion-section-title2:focus, .accordion-section-title3:focus, .accordion-section-title4:focus, .accordion-section-title5:focus, .accordion-section-title6:focus{
	color: white;
}
.accordion-section:last-child .accordion-section-title, .accordion-section2:last-child .accordion-section-title2, .accordion-section3:last-child .accordion-section-title3, .accordion-section4:last-child .accordion-section-title4, .accordion-section5:last-child .accordion-section-title5, .accordion-section6:last-child .accordion-section-title6 {
    border-bottom:none;
    border-radius: 100px;
}
 
/*----- Section Content -----*/
.accordion-section-content, .accordion-section-content2, .accordion-section-content3, .accordion-section-content4, .accordion-section-content5, .accordion-section-content6 {
    padding:5px;
    display:none;
}

.autocomplete-suggestions{
	background-color: white;
	border-radius: 10px;
}

#textoPoder{
    text-align: justify;
    font-style: italic;
    position: relative;
    top: 80px;
    left: -190px;
    width: 360px;
}
#link:focus, #link:hover{
    color: #ffc63d;
}
#link{
    color: white;
}
.tutoriales:hover a, .blog:hover a{
    color:#6b3f23; 
}

.numero1 {
    background: url(../../assets/img/ico_1.png) no-repeat center right;
    background-size: 80%;
    width: 87px;
    height: 87px;
    padding-right: 96px;
    margin:-11px;
    margin-left: 280px;
    margin-top: 13px;


}
.numero2 {
    background: url(../../assets/img/ico_2.png) no-repeat center right;
    background-size: 80%;
    width: 85px;
    height: 85px;
    padding-right: 92px;
    margin:-11px;
    margin-left: 148px;

}
.numero3 {
    background: url(../../assets/img/ico_3.png) no-repeat center right;
    background-size: 32%;
    width: 49px;
    height: 86px;
    padding-right: 235px;
    margin:-11px;
    margin-top: 11px;
}
.unirse-icon-1 {
    background: url(../../assets/img/ico_2_buscando.png) no-repeat center right;
    width: 64px;
    height: 43px;
    padding-right: 66px;
    margin:-22px;
    margin-left: -460px;

}

.unirse-icon-2 {
    background: url(../../assets/img/ico_1_comenzando.png) no-repeat center right;
    width: 62px;
    height: 43px;
    margin: -26px;
    margin-left: -410px;

}
#link2:hover a, #link2{
    color:#A4A4A4;
}