@media (max-width: 1200px) {
	
	.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: #fff;
		padding: 8px 5px 6px 5px;
	}
	
	.navbar-default .navbar-toggle i {
		color: #bbb;
		font-size: 2em;
	}

	.quote-buttons span {
		margin: 0 2px;
	}

	.flickr-widget ul li {
		margin-left: 0px;
		margin-right: 7px;
	}

	.subscribe-widget form input[type="text"] {
		margin-bottom: 10px;
	}

	.history-content p {
		max-height: 36px;
		line-height: 20px;
		overflow: hidden;
	}
	
	.projects-carousel {
		width: 950px!important;
	}
}

@media (max-width: 991px) {
	
	.boxed-page, .boxed-page header {
		width: 100%;
	}
	
	.classic-testimonials {
		margin-bottom: 25px!important;
	}
	
	.tp-caption a.btn-system {
		font-size: 11px;
		padding: 4px 8px;
	}
	
	.contact-details {
		display: none!important;
	}
	
	.navbar-brand {
		padding: 25px 15px;
	}
	
	.navbar-default .navbar-nav {
		margin: 0 !important;
		top: 0;
	}

	ul.social-list {
		float: none !important;
		text-align: center;
	}

	ul.social-list li {
		float: none !important;
		display: inline-block;
	}

	.quote-buttons {
		text-align: center;
	}

	.copyright-section {
		text-align: center;
	}

	ul.footer-nav {
		display: block;
		float: none !important;
		text-align: center;
		margin-top: 10px;
	}
	
	ul.footer-nav li {
		display: inline-block;
		float: none;
		margin-left: 15px;
	}

	.page-banner {
		text-align: center;
	}

	ul.breadcrumbs {
		float: none;
	}

	ul.breadcrumbs li {
		float: none;
		display: inline-block;
		float: left\0/;
	}
	
	.portfolio-4 .portfolio-item {
		width: 49.99%!important;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
	}
	
	.projects-carousel {
		width: 100% !important;
	}
	
	.pricing-tables .pricing-table {
		//width: 50% !important;
		margin-bottom: 15px;
	}
	
	.pricing-tables .highlight-plan {
		margin: 0;
	}
	
	.pricing-tables .pricing-table.highlight-plan .plan-name {
		padding: 15px 0;
	}
	
	.pricing-tables .pricing-table.highlight-plan .plan-signup {
		padding:25px 0;
	}
	
	.pricing-tables .pricing-table:hover {
		top: 0;
	}
	
	.milestone-block {
		margin-bottom: 25px;
		margin-right: 40px;
	}
	
	.fittext {
		font-size: 30px;
		line-height: 38px;
	}
	
	.team-member {
		text-align: center;
		margin-bottom: 30px;
	}
	
	.member-photo {
		display: inline-block;
		margin: 0 auto;
	}
	
	.easyPieChart {
		margin: 0 40px 20px 0;
	}
	
	.right-sidebar {
		margin-top: 60px;
		padding-top: 60px;
		border-top: 1px solid #eee;
	}
	
	.sidebar .widget {
		margin-bottom: 35px;
	}
	
}

@media (max-width: 768px) {
  
	.tp-leftarrow,
	.tp-rightarrow {
		display: none!important;
	}
  
    .tp-caption a.btn-system {
		display: none;
	}
	
	.history-box img {
		float: none;
		width: 100%;
	}

	.history-content {
		float: none;
		width: 100% !important;
	}

	.history-box span.history-date {
		right: inherit;
		left: 15px;
	}
	
	.portfolio-filter li {
		margin-bottom: 8px;
	}
	
	.portfolio-4 .portfolio-item {
		width: 100%!important;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;
	}
  
    .milestone-block {
        margin-bottom: 20px;
        margin-right: 45px;
    }

}
@media only screen and (max-width: 479px) { 
  
    .top-bar  {
		text-align: center;
	}
    
	.navbar-default .navbar-nav {
		padding: 15px 0;
	}
	
	.show-search, .search-form {
		display: none;
	}
  
    ul.social-list li {
		margin: 0 3px;
	}
	
	ul.social-list li a i {
		font-size: 0.9em;
		display: block;
		width: auto;
		line-height: 30px;
		border: none!important;
	}
	
	ul.social-list li a:hover {
		background-color: transparent!important;
	}
	
	ul.social-list li a.facebook:hover {
		color: #507CBE;
	}
	
	ul.social-list li a.twitter:hover {
		color: #63CDF1;
	}
	
	ul.social-list li a.google:hover {
		color: #F16261;
	}
	
	ul.social-list li a.dribbble:hover {
		color: #E46387;
	}
	
	ul.social-list li a.linkdin:hover {
		color: #90CADD;
	}
	
	ul.social-list li a.tumblr:hover {
		color: #4D7EA3;
	}
	
	ul.social-list li a.flickr:hover {
		color: #E474AF;
	}
	
	ul.social-list li a.instgram:hover {
		color: #4D4F54;
	}
	
	ul.social-list li a.vimeo:hover {
		color: #87D3E0;
	}
	
	ul.social-list li a.skype:hover {
		color: #36C4F3
	}
	
	.navbar-default .navbar-toggle {
		margin-top: 15px;
		outline: none;
	}

	.navbar-default .navbar-nav > li > a {
		border: none;
		padding: 5px 10px;
		display: block;
		border: none !important;
		padding-right: 0;
	}
	
	.navbar-default .navbar-nav > li > a:after {
		display: none;
	}

	.navbar-default .navbar-nav > li > a:hover {
		opacity: 0.7;
	}
  
    .navbar-default .navbar-nav > li {
		margin-left: 0;
		display: block;
		margin-bottom: 5px;
        width: 100%
	}

	.navbar-default .navbar-nav > li.drop > a {
	    padding-right: 10px;
	}
	
	.navbar-default .navbar-nav > li.drop > a {
		border-radius: 2px;
	}

	ul.dropdown, ul.sup-dropdown {
		opacity: 1!important;
		position: relative !important;
		visibility: visible !important;
		width:90% !important;
		top: inherit !important;
		left: 0 !important;
		margin-top: 0 !important;
		padding-left: 20px !important;
		box-shadow: none !important;
	}

	ul.dropdown li, ul.sup-dropdown li {
		border-top: none;
	}
  
    .milestone-block {
        display: block;
        clear: left;
        margin-right: 0;
    }
  
    .btn-system {
        margin-bottom: 10px;
    }
  
    .easyPieChart {
      font-size: 24px;
      font-weight: 400;
      position: relative;
      text-align: center;
      display: inline-block;
      margin: 0 0 20px 0;
      overflow: hidden;
    }
    
}



@media (max-width : 1280px) { 
#main-slide .slider-content {
		top:40%;
	}
}


@media (min-width : 768px) and (max-width: 991px) {
    
	
	#main-slide .slider-content {
		top:33%;
	}
	
	
    #main-slide .slider-content h2{
		font-size:35px;
	}
	#main-slide .slider-content h3{
		font-size: 20px;
		margin-top: 12px;
	}

	.slider.btn{
		padding: 5px 25px;
		margin-top: 5px;
		font-size: 16px;
	}
	
	#main-slide .carousel-indicators{
		bottom:0;
	}
	


}


@media (max-width : 767px) {
    
	#main-slide .slider-content {
		top:40%;
	}
	
	
    #main-slide .slider-content h2{
		font-size: 28px;
		line-height: normal;
		margin-bottom: 0;
	}
	#main-slide .slider-content h3{
		font-size: 14px;
		margin-top: 5px;
	}
	.slider.btn{
		padding: 0 15px;
		margin-top: 0;
		font-size: 12px;
	}
	#main-slide .carousel-indicators{
		display: none;
	}
	
		#main-slide .descubre-kubera {
	display:none;
}
    
}


@media (max-width : 479px) {
	body{
		overflow-y: hidden;
	}
	.navbar-toggle{
		display: block !important;
		background-image: url(../../assets/img/cel-menu.png);
		margin-top: 40px;
		border: 3px solid #ffb718;
		border-radius: 200px;
		background-position: 2px;
	}
	#ruta{
		font-size: 11px !important;
	}
	#subtitulo{
		font-size: 18px !important;
	}
    header{
    	min-height: 83px;
    	height: auto;
    	overflow: auto;
  	}
  	#bs-navbar{
  		width: 100%;
  		margin-top: 40px;
  	}
  	.logo{
  		margin-top: -4px !important;
  	}
  	iframe{
  		width: 362px;
		height: 220px;
		position: relative;
		left: -30px;
  	}
  	h2{
  		font-size: 25px !important;
  	}
  	font{
  		font-size: 12px !important;
  	}
  	.container .buscar{
  		width: 123% !important;
		position: relative !important;
		left: -30px !important;
  	}
  	form{
  		width: 220px !important;
  	}
  	.buscar-consultor input[type="text"]{
  		position: relative !important;
  		left: -5px !important;
  	}
  	.empezar-busqueda{
  		position: relative;
		left: 141px;
		top: -38px;
  	}
  	#clientes{
  		margin-left: 0px !important;
  	}
  	#comenzando{
  		position: relative;
		left: -310px;
		width: 360px;
		background-position: -168px !important;
  	}
  	#hr1{
  		margin-left: 74px !important;
  	}
  	#hr2{
  		margin-left: 84px !important;
  		margin-top: -17px;
  	}
  	#h3Clientes{
  		margin-left: -42px !important;
  	}  
  	#h3Consultores{
  		margin-left: -2px !important;
  	}
  	.wrapper{
  		width: 106%;
  		max-width:106%;
  	}  
  	#accordion-1, #accordion-2, #accordion-3, #accordion-4{
  		margin-left: -224px !important;
  	}
  	.tutoriales{
  		left: -57%;
  	}
  	.blog{
  		left: 37%;
  	}
  	#codigo{
  		margin-left: -48px !important;
  	}
  	#terminos{
  		margin-left: -20px !important;
  	}
  	.ayuda{
  		left: 23%;
  	}
  	.servicio{
  		top: 16%;
		left: 24%;
  	}
  	#volver{
  		margin-bottom: 8px;
  	}
  	.accordion-section-title,.accordion-section-title4, 
  	.accordion-section-title5, .accordion-section-title6{
  		width: 100% !important;
  		text-align: center;
  	}
  	.accordion-section-title3{
  		width: 57% !important;
  		position: relative;
		left: 26%;
		height: 68px;
		text-align: center;
  	}
  	.accordion-section-title2{
  		width: 57% !important;
  		position: relative;
		left: 26%;
		text-align: center;
		height: 50px;
  	}
  	#textoPoder{
  		top: 120px;
  		left: 0px;
  		width: 340px;
  	}
  	footer{
  		height: 850px;
  	}
  	.redes{
  		top:23%;
  	}
  	footer .footer{
  		height: 841px;
  		background-position: -470px 0px;
  	}
  	#comenzandoCliente, #soluciones{
  		margin-left: -120px;
  		height: 80px;
  	}
  	.respuesta-cliente1{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: -80px;
  	}
  	.respuesta-cliente2{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: 70px;
  	}
  	.respuesta-cliente3{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: 250px;
  	}
  	.numero1{
  		margin-left: 0px;
  		position: relative;
		left: 32%;
  		
  	}
  	.numero2{
  		margin-left: 0px;
  		position: relative;
		left: 14px;
		top: 136px;
  	}
  	.numero3{
  		margin-left: 0px;
  		margin-top: 0px;
  		position: relative;
		top: 183px;
		left: -40px;

  	}
  	#preguntas{
  		margin-top: 290px !important;
  	}
}

@media screen and (max-width: 767px) {
	.navbar-toggle{
	    display: none;
	  }
	  .navbar-header{
	    position: relative;
	  }
	  .margo-logo-wrapper{
	    position: absolute;
	    top: 0;
	  }
	.navbar-brand{
		position: absolute;
	    top: 0;
	}
	/* #menu is the original menu */
	.js #wpb-mobile-menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}
/* SlickMenu responsive */
@media screen and (min-width: 768px) {
  header{
  	height: 146px;
  }
}