 @media (max-width : 479px) {
	/*body{
		overflow-y: hidden;
	}*/
   	#accordion-1, #accordion-2, #accordion-3, #accordion-4, #accordion-51, #accordion-52, #accordion-100, #accordion-6, #accordion-15, #accordion-21, #accordion-31, #accordion-40, #accordion-57, #accordion-70, #accordion-77, #accordion-80  {
  		margin-left: 0px !important;
  	}
  	.accordion-section:last-child .accordion-section-title, .accordion-section2:last-child .accordion-section-title2, .accordion-section4:last-child .accordion-section-title4, .accordion-section5:last-child .accordion-section-title5, .accordion-section6:last-child {
	    border-bottom: none;
	    margin: 0px auto!important;
	    font-size: 13px;
	    width: 100% !important;
	    height: 31px;
	    padding-top: 7px;
	    margin-top: 22px;
	    height: auto !important;
	    font-size: 12px;
	}
	.accordion-section-title6 {
		width: 40% !important;
	    position: relative;
	    left: 51%;
	    text-align: center;
	    height: 40px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 58px;
	    top: -42px;
	}

	.accordion-section-title.active, .accordion-section-title:hover, .accordion-section-title2.active, .accordion-section-title4.active, .accordion-section-title5.active, .accordion-section-title6:hover {
	    background: #6b3f22;
	    border-bottom: none;
	    width: 10%;
	    margin-left: -34px;
	    font-size: 13px;
	    width: 78% !important;
	    height: 31px;
    	padding-top: 5px;
	}
	.accordion-section-title4:hover{
	    background: #6b3f22;
	    border-bottom: none;
	    margin-left: 3px;
	    font-size: 13px;
	    width: 76% !important;
	    height: 33px;
	    padding-top: 8px;
	    margin-top: -18px;
	    margin-bottom: 20px;
	}
	.accordion-section-title4.active{
		background: #6b3f22;
	    border-bottom: none;
	    width: 61%;
	    margin-left: 8px;
	    font-size: 13px;
	    width: 78% !important;
	    height: 31px;
   		padding-top: 5px;
   		top:0px;
	}
	.accordion-section-title5.active{
	    width: 77% !important;
	    position: relative;
	    left: 16%;
	    text-align: center;
	    height: 42px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 29px;
	    top: -17px;
	}
	.accordion-section-title5:hover{
		background: #6b3f22;
	    border-bottom: none;
	    margin-left: -147px;
	    font-size: 13px;
	    width: 78% !important;
	    height: 31px;
    	padding-top: 5px;
    	left: 112px;
	}
	.accordion-section-title6.active{
		background: #6b3f22;
	    text-decoration: none;
	    color: #ffc63d;
	    border-radius: 100px;
	    width: 75% !important;
	    margin-left: -313px;
	    height: 32px;
	    font-size: 13px;
	    top: -21px;
	    padding-top: 5px;
	}

  	.accordion-section-title,.accordion-section-title4, 
  	.accordion-section-title5, .accordion-section-title6{
  		width: 100% !important;
  		text-align: center;
  	}
.accordion-section-title3{
	    width: 47% !important;
	    position: relative;
	    left: 14%;
	    text-align: center;
	    height: 38px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 45px;
  	}
  	.accordion-section-title4{
  		width: 40% !important;
	    position: relative;
	    left: 10%;
	    text-align: center;
	    height: 42px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 29px;
	    top: 14px;
  	}	
  	.accordion-section-title5{
	width: 48% !important;
    position: relative;
    left: 32%;
    text-align: center;
    height: 42px;
    padding-top: 7px;
    font-size: 12px;
    margin-top: 29px;
    top: -17px;
  	}	
  	.accordion-section-title6{
	  	width: 40% !important;
	    position: relative;
	    left: 51%;
	    text-align: center;
	    height: 40px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 58px;
	    top: -42px;
  	}
  	.accordion-section-title2{
	    width: 47% !important;
	    position: relative;
	    left: 50%;
	    text-align: center;
	    height: 39px;
	    margin-top: 1px !important;
	    top: -50px;
	    font-size: 12px;
  	}
  	.accordion-section-title2.active{
		width: 47% !important;
	    position: relative;
	    left: 30%;
	    text-align: center;
	    height: 39px;
	    margin-top: 1px !important;
	    top: -3px;
	    font-size: 12px;
  	}
  	.accordion-section-title2:hover{
  		width: 47% !important;
	    position: relative;
	    left: 30%;
	    text-align: center;
	    height: 39px;
	    margin-top: 1px !important;
	    top: -3px;
	    font-size: 12px;
  	}
  	.accordion-section-title3.active{
	    width: 46% !important;
	    position: relative;
	    left: 15%;
	    text-align: center;
	    height: 40px;
	    margin-top: 44px !important;
	    top: 8px;
	    font-size: 12px;
  	}
  	.accordion3 {
	    overflow: hidden;
	    border-radius: 71px;
	    background: white;
	    width: 142% !important;
	    margin-left: -68px;
	}
}