body{
	background-color:white;
    font-family: 'Open Sans', sans-serif;
}
header {
	width:100%;
	overflow:hidden;
	background:transparent url(../../assets/img/deg-head.png) repeat-x top;
	margin-bottom:-12px;
	border-top: 10px solid #ffb819;
    width: 100%;
    height: 142px;
}

h1{
 	color: #6b3f22;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

h2{
 	color: #6b3f22;
    font-size: 25px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 800;

}

header .logo {
    color: #6b3f23;
    font-size: 50px;
    line-height: 200px;
    float: left;
    background-image: url(../../assets/img/logo_kubera_amarillo.png);
    background-repeat: no-repeat;
    background-size: 283px;
    height: 148px;
    width: 330px;
    position: relative;
    top: 32px;
    left: 76px;
    cursor: pointer;
}
 
header nav {
	float:right;
	line-height:100px;
}

header nav a {
	display:inline-block;
	color:white;
	text-decoration:none;
	padding:70px 20px;
	line-height:normal;
    font-size: 21px;
    font-weight: 600;
    transition: all 500ms ease;
    margin-right: 107px;
    margin-left: -120px;
}
 


hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 105%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

footer .footer{
	background-image: url(../../assets/img/footer.jpg);
	width: 100%;
	height: 633px;
    margin-top: 10px;
}

.wrapper {
	width:100%;
	max-width:100%; 
	margin:-21px; 
	overflow:hidden;
}


.fixed-header {
 position:fixed;
 background:#fffbd7;
 box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
 -o-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
 z-index:100;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
  height: 149px;
}

.fixed-header .navbar-top {
	background:none;
	padding:4px 0 0 0;
	color:#6b3f22;
}

.fixed-header .navbar-top .unirse-icon {
	background:url(assets/img/unirse2.png) no-repeat center right;
	background-size:contain;
	width:40px;
	height:31px;
}


.fixed-header .navbar-top .sesion-icon {
	background:url(assets/img/ingresar2.png) no-repeat center right;
	background-size:contain;
	width:40px;
	height:31px;
}

.fixed-header .navbar-top a {
	color:#6b3f22 !important;
}

.fixed-header .navbar-top .dropdown a {
	color:#fff !important;
}


.fixed-header .navbar-top .marca-image  {
	background:url(assets/img/logo_kubera_color.png) no-repeat center right;
	width:166px;
	height:52px;
}


.amarillo {
	color:#ffc63d;
}

.amarillo:hover {
    color:#6b3f22;
}
.amarillo1 {
    color:#ffc63d;
}

.amarillo1:hover {
    color:transparent;
}

.blanco {
	color:white;
}
.cafe{
	color: #6b3f23;
}

.redes{
	position: relative;
	top: 40%;
}
.servicio{
	position: relative;
	top: 13%;
}
.ayuda{
	position: relative;
	top: 13%;
    left: 50px;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}

.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #6b3f22;
    border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    background-color: #ffb718;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.buscar {
	background-color:#f37a63;
	border-bottom:3px solid #f26c51;
	padding:15px 5px;
	text-align:center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.buscar-consultor input[type="text"]
 {
    color: #000 !important;
    font-size:17px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
	line-height:normal;
	font-weight:600;
	border:0 !important;
	border-radius:25px 0 0 25px !important;
    outline: none;
    width:70% !important;
    height: 43px;
    padding:13px 20px !important;
    margin: 0 !important;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.empezar-busqueda {
	background:url(../../assets/img/search.png) no-repeat center right;
	background-color:#f26c51;
	color:#fff;
	padding:9px 68px 11px 30px;
	border:0;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    border: 1px solid #fff;
    margin: 0 0 0 -3px;
    height: 43px;
    margin-top: -4px;
    padding-top: 13px;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.empezar-busqueda:hover {
	background:url(../../assets/img/search-over.png) no-repeat center right;
	background-color:#ffc63d;
	color:#6b3f22;
	text-decoration:none;
}
.img-cliente {
    background:url(../../assets/img/prueba.jpg) no-repeat top center;
    width:28px;
    height:11px;
    text-align:center;
    margin:0 auto;
    display:block;
    margin-top:-41px;
}

.buscar-icon {
    background: url(../../assets/img/eye.png) no-repeat center right;
    background-size: contain !important;
    width: 50px;
    height: 37px;
    vertical-align: middle;
    padding-right: 44px;
}

.unirse-icon {
    background: url(../../assets/img/unirse.png) no-repeat center right;
    background-size: contain !important;
    width: 48px;
    height: 41px;
    vertical-align: middle;
    padding-right: 44px;
}

.unirse-icon-1 {
    background: url(../../assets/img/ingresar.png) no-repeat center right;
    width: 40px;
    height: 31px;
    padding-right: 44px;
}

.ingresar-icon {
    background: url(../../assets/img/ingresar.png) no-repeat center right;
    background-size: contain !important;
    width: 50px;
    height: 37px;
    vertical-align: middle;
    padding-right: 44px;
}

.unirse-icon-2 {
    background: url(../../assets/img/ico_1_comenzando.png) no-repeat center right;
    width: 50px;
    height: 37px;
    margin: -26px;
    margin-left: -410px;

}
.unirse-icon-3 {
    background: url(../../assets/img/ico_2_buscando.png) no-repeat center right;
    width: 64px;
    height: 43px;
    margin: 31px;
    margin-left: -607px;
    background-position-x: 0px;
}
.unirse-icon-5 {
    background: url(../../assets/img/ico_2_buscando.png) no-repeat center right;
    width: 64px;
    height: 43px;
    margin: 31px;
    margin-left: -702px;
    background-position-x: 0px;
    position: relative;
    left: -35px;
}
.boton-unete{
	color: #6b3f22;
    background-color: #ffc63d;
    border-radius: 100px;
}

#buscar{
    position: relative;
    left: -107%;
    margin-right: 12px;
    margin-top: 3px;
    font-size: 21px;
}


#volver{
    color: white;
    background-color: #f37a63;
    width: 324px;
    height: 38px;
    border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    padding-top: 6px;
    margin-left: 34px;
    padding-left: 28px;
}

#volver:hover{
    color: white;
    background-color: #f37a63;
    width: 324px;
    height: 38px;
    border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    padding-top: 6px;
    margin-left: 34px;
    padding-left: 28px;
}
#volver1{
    color: white;
    background-color: #f37a63;
    width: 324px;
    height: 38px;
    border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-right: -117px;
    padding-top: 6px;
    margin-left: 187px;
    padding-left: 28px;
}

#volver1:hover{
    color: white;
    background-color: #f37a63;
    width: 324px;
    height: 38px;
    border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-right: -117px;
    padding-top: 6px;
    margin-left: 187px;
    padding-left: 28px;
}
#volver2{
    color: white;
    background-color: #f37a63;
    width: 324px;
    height: 38px;
    border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 80px;
    padding-top: 6px;
    margin-left: 187px;
    padding-left: 44px;
}

#volver2:hover{
    color: white;
    background-color: #f37a63;
    width: 324px;
    height: 38px;
    border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 80px;
    padding-top: 6px;
    margin-left: 187px;
    padding-left: 44px;
}

#volver3{
    color: white;
    background-color: #f37a63;
    width: 324px;
    height: 38px;
    border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 23px;
    padding-top: 6px;
    margin-left: 55px;
    padding-left: 28px;
    padding-left: 28px;
}

#volver3:hover{
    color: white;
    background-color: #f37a63;
    width: 324px;
    height: 38px;
    border-radius: 100px;
    margin-top: 46px;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 23px;
    padding-top: 6px;
    margin-left: 55px;
    padding-left: 28px;
    padding-left: 28px;
}

#volverB{
    color: white;
    background-color: #f37a63;
    width: 304px;
    height: 40px;
    border-radius: 100px;
    margin-top: 46px;
    font-size: 20px;
    font-weight: 600;
    margin-right: -180px;
    padding-top: 6px;
    margin-left: 224px;
    padding-left: 23px;
    margin-bottom: 21px;
    margin-top: 94px;
}

#volverB:hover{
    color: white;
    background-color: #f37a63;
    width: 304px;
    height: 40px;
    border-radius: 100px;
    margin-top: 46px;
    font-size: 20px;
    font-weight: 600;
    margin-right: -180px;
    padding-top: 6px;
    margin-left: 224px;
    padding-left: 23px;
    margin-bottom: 21px;
    margin-top: 94px;
}
#comenzando{
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: -79px;
    color: white;
    width: 550px;
    height: 66px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 278px;
    padding-left: 50px;
    padding-right: 50px;
}

#comenzando:hover{
    background: url(../../assets/img/over-07.png) no-repeat center right;
     background-position: -79px;
  
}

#comenzandoCliente{
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: -14px;
    background-size: 88%;
    color: white;
    width: 79%;
    height: 76px;
    margin-top: -67px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    padding-right: 153px;
    font-size: 21px;
    margin-left: -484px;
}

#comenzandoCliente:hover{
    background: url(../../assets/img/over-07.png) no-repeat center right;
    background-position: -14px;
    background-size: 88%;
}

#comenzandoConsultores2{
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: -79px;
    color: white;
    width: 550px;
    height: 72px;
    margin-top: -86px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 278px;
    padding-left: 50px;
    padding-right: 50px;
}

#comenzandoConsultores2:hover{
    background: url(../../assets/img/over-07.png) no-repeat center right;
     background-position: -79px;
  
}

#comenzandoConsultores{
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: -14px;
    background-size: 88%;
    color: white;
    width: 79%;
    height: 76px;
    margin-top: -67px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    padding-right: 153px;
    font-size: 21px;
    margin-left: -484px;
}



#comenzandoConsultores:hover{
    background: url(../../assets/img/over-07.png) no-repeat center right;
    background-position: -14px;
    background-size: 88%;
  
}
#comenzandoCliente2{
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: -14px;
    background-size: 88%;
    color: white;
    width: 79%;
    height: 76px;
    margin-top: -52px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    padding-right: 153px;
    font-size: 21px;
    margin-left: 179px;
}



#comenzandoCliente2:hover{
    background: url(../../assets/img/over-07.png) no-repeat center right;
    background-position: -14px;
    background-size: 88%;
  
}

#soluciones{
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: -79px;
    color: white;
    width: 550px;
    height: 69px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 280px;
    padding-left: 50px;
    padding-right: 50px; 
    padding-top: 3px;
}
#solucionesimg{
    background: url(../../assets/img/ingresar-over.padding) no-repeat center right;
    background-position: -79px;
    color: white;
    width: 550px;
    height: 69px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 280px;
    padding-left: 50px;
    padding-right: 50px; 
}
#soluciones:hover{
    background: url(../../assets/img/over-07.png) no-repeat center right;
     background-position: -79px;
  }

.blog{
     background: url(../../assets/img/icos-08.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
    border-radius: 20px;
    height: 104px;
    width: 369px;
    padding-top: 43px;
    font-weight: 400;
    padding-left: 26px;
    margin-left: 47px;
    font-size: 15px;
}

.blog:hover{
    background: url(../../assets/img/over-11.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
}


.blog1{
    background: url(../../assets/img/icos-08.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
    border-radius: 20px;
    height: 104px;
    width: 369px;
    padding-top: 43px;
    font-weight: 400;
    padding-left: 26px;
    margin-left: 47px;
    font-size: 15px;
}

.blog1:hover{
    background: url(../../assets/img/over-11.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
}
.blog2{
    background: url(../../assets/img/icos-08.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
    border-radius: 20px;
    height: 104px;
    width: 369px;
    padding-top: 43px;
    font-weight: 400;
    padding-left: 26px;
    margin-left: 47px;
    font-size: 15px;
}

.blog2:hover{
    background: url(../../assets/img/over-11.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
}
.blogB{
    background: url(../../assets/img/icos-08.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
    border-radius: 20px;
    height: 104px;
    width: 369px;
    left: 24%;
    padding-top: 41px;
    font-weight: 400;
    padding-left: 48px;
    margin-left: -269px;
    font-size: 15px;
}

.blogB:hover{
    background: url(../../assets/img/over-11.png) no-repeat center right;
    background-position: 35px;
    background-size: 328px;
}
.tutoriales{
    background: url(../../assets/img/icos-09.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
    border-radius: 20px;
    height: 104px;
    width: 369px;
    left: 1%;
    padding-top: 43px;
    font-weight: 400;
    padding-left: 65px;
    margin-left: 163px;
    font-size: 15px;
}

.tutoriales:hover{
    background: url(../../assets/img/over-10.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
}

.tutoriales1{
    background: url(../../assets/img/icos-09.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
    border-radius: 20px;
    height: 104px;
    width: 369px;
    left: 1%;
    padding-top: 43px;
    font-weight: 400;
    padding-left: 65px;
    margin-left: 163px;
    font-size: 15px;
}

.tutoriales1:hover{
    background: url(../../assets/img/over-10.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
}
.tutoriales2{
    background: url(../../assets/img/icos-09.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
    border-radius: 20px;
    height: 104px;
    width: 369px;
    left: 1%;
    padding-top: 43px;
    font-weight: 400;
    padding-left: 65px;
    margin-left: 163px;
    font-size: 15px;
}

.tutoriales2:hover{
    background: url(../../assets/img/over-10.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
}
.tutorialesB{
    background: url(../../assets/img/icos-09.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
    border-radius: 20px;
    height: 104px;
    width: 369px;
    left: 1%;
    padding-top: 39px;
    font-weight: 400;
    padding-left: 54px;
    margin-left: 190px;
    font-size: 15px;
}

.tutorialesB:hover{
    background: url(../../assets/img/over-10.png) no-repeat center right;
    background-position: 35px;
    background-size: 280px;
}
.respuesta{
	text-align: left;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
    margin-top: 5px;

}
 .accordion2, .accordion2 * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
    margin-top: 5px;

}
.accordion {
    overflow:hidden;
    border-radius:10px;
    background:white;
    width: 116% !important;
    margin-left: -62px;
}
.accordion1 {
    overflow:hidden;
    border-radius:10px;
    background:white;
    width: 116% !important;
    margin-left: -62px;
}
 .accordion2 {
    overflow:hidden;
    border-radius:10px;
    background:white;
    width: 116% !important;
    margin-left: -86px;
}
.accordion3 {
    overflow: hidden;
    border-radius: 71px;
    background: white;
    width: 129% !important;
    margin-left: -104px;
}
   
/*----- Section Titles -----*/
.accordion-section-title,   .accordion-section-title6 {
    width:61%;
    padding:15px;
    display:inline-block;
    background:#ffc63d;
    transition:all linear 0.15s;
    /* Type */
    font-size:14px;
    color: #6d4b12;
    border-radius: 100px;
    text-align: left;
    /*height: 38px;*/
    padding-top: 7px;
    font-size: 16px;
    padding-left: 25px;

}
.accordion-section-title2{
    width:61%;
    padding:15px;
    display:inline-block;
    background:#ffc63d;
    transition:all linear 0.15s;
    font-size:14px;
    color: #6d4b12;
    border-radius: 100px;
    text-align: left;
    height: 38px;
    padding-top: 7px;
    font-size: 16px;
    padding-left: 25px;
    margin-left: -66px;
}
 .accordion-section-title3{
    width:61%;
    padding:15px;
    display:inline-block;
    background:#ffc63d;
    transition:all linear 0.15s;
    font-size:14px;
    color: #6d4b12;
    border-radius: 100px;
    text-align: left;
    height: 38px;
    padding-top: 7px;
    font-size: 16px;
    padding-left: 25px;
    margin-left: -64px;
 }
 .accordion-section-title4{
    width:61%;
    padding:15px;
    display:inline-block;
    background:#ffc63d;
    transition:all linear 0.15s;
    font-size:14px;
    color: #6d4b12;
    border-radius: 100px;
    text-align: left;
    height: 38px;
    padding-top: 7px;
    font-size: 16px;
    padding-left: 25px;
    margin-left: -64px;
 }
 .accordion-section-title5{
    width:61%;
    padding:15px;
    display:inline-block;
    background:#ffc63d;
    transition:all linear 0.15s;
    font-size:14px;
    color: #6d4b12;
    border-radius: 100px;
    text-align: left;
    height: 38px;
    padding-top: 7px;
    font-size: 16px;
    padding-left: 25px;
    margin-left: -64px;
 }
.accordion-section-title.active, .accordion-section-title:hover, .accordion-section-title2.active, .accordion-section-title2:hover, .accordion-section-title3.active, .accordion-section-title3:hover, .accordion-section-title6.active, .accordion-section-title6:hover{
    background:#6b3f22;
    text-decoration:none;
    color: #ffc63d;
    border-radius: 100px;
    width: 61%;
}
.accordion-section-title:focus, .accordion-section-title2:focus, .accordion-section-title3:focus, .accordion-section-title4:focus, .accordion-section-title5:focus, .accordion-section-title6:focus{
	color: white;
}


.accordion-section:last-child .accordion-section-title, .accordion-section2:last-child .accordion-section-title2, .accordion-section3:last-child .accordion-section-title3, .accordion-section4:last-child .accordion-section-title4, .accordion-section5:last-child .accordion-section-title5, .accordion-section6:last-child .accordion-section-title6 {
    border-bottom:none;
    border-radius: 100px;
    width: 61%;
    margin-left: -59px;
    font-size: 16px;
}
.accordion-section-title4.active, .accordion-section-title4:hover{
    background:#6b3f22;
    text-decoration:none;
    color: #ffc63d;
    border-radius: 100px;
    width: 61%;
    margin-left: -49px;
}
.accordion-section-title5.active, .accordion-section-title5:hover{
    background:#6b3f22;
    text-decoration:none;
    color: #ffc63d;
    border-radius: 100px;
    width: 61%;
    margin-left: -49px;  
}
 
/*----- Section Content -----*/
.accordion-section-content, .accordion-section-content2, .accordion-section-content3, .accordion-section-content4, .accordion-section-content5, .accordion-section-content6 {
    padding:5px;
    display:none;
}

.autocomplete-suggestions{
	background-color: white;
	border-radius: 10px;
    overflow: hidden;
}

#textoPoder{
    text-align: justify;
    font-style: italic;
    position: relative;
    top: 80px;
    left: -190px;
    width: 360px;
}
#link:focus, #link:hover{
    color: #ffc63d;
}
#link{
    color: white;
}
.tutoriales:hover a, .blog:hover a{
    color:white; 
}

.numero1 {
    background: url(../../assets/img/ico_1.png) no-repeat center right;
    background-size: 80%;
    width: 87px;
    height: 87px;
    padding-right: 96px;
    margin:-11px;
    margin-left: -36px;
    margin-top: 13px;


}
.numero2 {
    background: url(../../assets/img/ico_2.png) no-repeat center right;
    background-size: 80%;
    width: 85px;
    height: 85px;
    padding-right: 92px;
    margin:-11px;
    margin-left: 148px;

}
.numero3 {
    background: url(../../assets/img/ico_3.png) no-repeat center right;
    background-size: 32%;
    width: 49px;
    height: 86px;
    padding-right: 235px;
    margin:-11px;
    margin-top: 11px;
}
.numero1C {
    background: url(../../assets/img/ico_1.png) no-repeat center right;
    background-size: 80%;
    width: 87px;
    height: 87px;
    padding-right: 96px;
    margin:-11px;
    margin-left: -41px;
    margin-top: 13px;


}
.numero2C {
    background: url(../../assets/img/ico_2.png) no-repeat center right;
    background-size: 80%;
    width: 85px;
    height: 85px;
    padding-right: 92px;
    margin:-11px;
    margin-left: 148px;

}
.numero3C {
    background: url(../../assets/img/ico_3.png) no-repeat center right;
    background-size: 32%;
    width: 49px;
    height: 86px;
    padding-right: 235px;
    margin:-11px;
    margin-top: 11px;
}
.unirse-icon-1 {
    background: url(../../assets/img/ico_2_buscando.png) no-repeat center right;
    width: 64px;
    height: 43px;
    padding-right: 66px;
    margin:-22px;
    margin-left: -460px;

}

.unirse-icon-2 {
    background: url(../../assets/img/ico_1_comenzando.png) no-repeat center right;
    width: 62px;
    height: 43px;
    margin: 43px;
    margin-left: -410px;

}
#link2:hover a, #link2{
    color:#A4A4A4;
}
#comenzando1 {
    background: url(../../assets/img/over-03.png) no-repeat center right;
    background-position: 1px;
    background-size: 83%;
    color: white;
    width: 79%;
    height: 76px;
    margin-top: -103px;
    margin-bottom: -23px;
    font-weight: 600;
    margin-left: 181px;
    padding-right: 139px;
    font-size: 21px;
}
.unirse-icon-4 {
    background: url(../../assets/img/ico_1_comenzando.png) no-repeat center right;
    width: 62px;
    height: 43px;
    margin: 25px;
    margin-left: -508px;
    margin-top: 66px;
    padding-top: 16px !important;
    background-position-y: 0px;
    background-size: 45px;
}
.unirse-icon-6 {
    background: url(../../assets/img/ico_1_comenzando.png) no-repeat center right;
    width: 62px;
    height: 43px;
    margin: 25px;
    margin-left: -666px;
    margin-top: 66px;
    padding-top: 16px !important;
    background-position-y: 0px;
    background-size: 45px;
}
.unirse-icon-7 {
    background: url(../../assets/img/ico_1_comenzando.png) no-repeat center right;
    width: 62px;
    height: 43px;
    margin: 25px;
    margin-left: -663px;
    margin-top: 66px;
    padding-top: 16px !important;
    background-position-y: 0px;
    background-size: 45px;
}
.unirse-icon-8 {
    background: url(../../assets/img/ico_1_comenzando.png) no-repeat center right;
    width: 62px;
    height: 43px;
    margin: 25px;
    margin-left: -685px;
    margin-top: 63px;
    background-size: 45px;
    top: 10px !important;
}
.table3 {
    width:61%;
    padding:15px;
    display:inline-block;
    background:#ffc63d;
    transition:all linear 0.15s;
    font-size:14px;
    color: #6d4b12;
    border-radius: 100px;
    text-align: left;
    height: 38px;
    padding-top: 0px;
    font-size: 16px;
    padding-left: 25px;
    margin-bottom: 74px;
    margin-left: 219px;

}
.table1 {
     width: 61%;
    display: inline-block;
    background: #ffc63d;
    font-size: 14px;
    color: #6d4b12;
    border-radius: 100px;
    /*height: 38px;*/
    padding-top: -16px;
    font-size: 16px;
    padding-left: 25px;
    margin-bottom: -1px;
    margin-left: 219px;
}
.table2 {
    width: 61%;
    display: inline-block;
    font-size: 14px;
    color: #6d4b12;
    border-radius: 100px;
    /*height: 38px;*/
    padding-top: -23px;
    font-size: 15px;
    padding-left: 25px;
    /*margin-bottom: 71px;*/
    margin-left: 219px;
    text-align: justify;
}