@media (max-width: 1200px) {
	
	.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: #fff;
		padding: 8px 5px 6px 5px;
	}
	
	.navbar-default .navbar-toggle i {
		color: #bbb;
		font-size: 2em;
	}

	.quote-buttons span {
		margin: 0 2px;
	}

	.flickr-widget ul li {
		margin-left: 0px;
		margin-right: 7px;
	}

	.subscribe-widget form input[type="text"] {
		margin-bottom: 10px;
	}

	.history-content p {
		max-height: 36px;
		line-height: 20px;
		overflow: hidden;
	}
	
	.projects-carousel {
		width: 950px!important;
	}
}

@media (max-width: 991px) {
	
	.boxed-page, .boxed-page header {
		width: 100%;
	}
	
	.classic-testimonials {
		margin-bottom: 25px!important;
	}
	
	.tp-caption a.btn-system {
		font-size: 11px;
		padding: 4px 8px;
	}
	
	.contact-details {
		display: none!important;
	}
	
	.navbar-brand {
		padding: 25px 15px;
	}
	
	.navbar-default .navbar-nav {
		margin: 0 !important;
		top: 0;
	}

	ul.social-list {
		float: none !important;
		text-align: center;
	}

	ul.social-list li {
		float: none !important;
		display: inline-block;
	}

	.quote-buttons {
		text-align: center;
	}

	.copyright-section {
		text-align: center;
	}

	ul.footer-nav {
		display: block;
		float: none !important;
		text-align: center;
		margin-top: 10px;
	}
	
	ul.footer-nav li {
		display: inline-block;
		float: none;
		margin-left: 15px;
	}

	.page-banner {
		text-align: center;
	}

	ul.breadcrumbs {
		float: none;
	}

	ul.breadcrumbs li {
		float: none;
		display: inline-block;
		float: left\0/;
	}
	
	.portfolio-4 .portfolio-item {
		width: 49.99%!important;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
	}
	
	.projects-carousel {
		width: 100% !important;
	}
	
	.pricing-tables .pricing-table {
		//width: 50% !important;
		margin-bottom: 15px;
	}
	
	.pricing-tables .highlight-plan {
		margin: 0;
	}
	
	.pricing-tables .pricing-table.highlight-plan .plan-name {
		padding: 15px 0;
	}
	
	.pricing-tables .pricing-table.highlight-plan .plan-signup {
		padding:25px 0;
	}
	
	.pricing-tables .pricing-table:hover {
		top: 0;
	}
	
	.milestone-block {
		margin-bottom: 25px;
		margin-right: 40px;
	}
	
	.fittext {
		font-size: 30px;
		line-height: 38px;
	}
	
	.team-member {
		text-align: center;
		margin-bottom: 30px;
	}
	
	.member-photo {
		display: inline-block;
		margin: 0 auto;
	}
	
	.easyPieChart {
		margin: 0 40px 20px 0;
	}
	
	.right-sidebar {
		margin-top: 60px;
		padding-top: 60px;
		border-top: 1px solid #eee;
	}
	
	.sidebar .widget {
		margin-bottom: 35px;
	}
	
}

@media (max-width: 768px) {
  
	.tp-leftarrow,
	.tp-rightarrow {
		display: none!important;
	}
  
    .tp-caption a.btn-system {
		display: none;
	}
	
	.history-box img {
		float: none;
		width: 100%;
	}

	.history-content {
		float: none;
		width: 100% !important;
	}

	.history-box span.history-date {
		right: inherit;
		left: 15px;
	}
	
	.portfolio-filter li {
		margin-bottom: 8px;
	}
	
	.portfolio-4 .portfolio-item {
		width: 100%!important;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;
	}
  
    .milestone-block {
        margin-bottom: 20px;
        margin-right: 45px;
    }

}
@media only screen and (max-width: 479px) { 
  
    .top-bar  {
		text-align: center;
	}
    
	.navbar-default .navbar-nav {
		padding: 15px 0;
	}
	
	.show-search, .search-form {
		display: none;
	}
  
    ul.social-list li {
		margin: 0 3px;
	}
	
	ul.social-list li a i {
		font-size: 0.9em;
		display: block;
		width: auto;
		line-height: 30px;
		border: none!important;
	}
	
	ul.social-list li a:hover {
		background-color: transparent!important;
	}
	
	ul.social-list li a.facebook:hover {
		color: #507CBE;
	}
	
	ul.social-list li a.twitter:hover {
		color: #63CDF1;
	}
	
	ul.social-list li a.google:hover {
		color: #F16261;
	}
	
	ul.social-list li a.dribbble:hover {
		color: #E46387;
	}
	
	ul.social-list li a.linkdin:hover {
		color: #90CADD;
	}
	
	ul.social-list li a.tumblr:hover {
		color: #4D7EA3;
	}
	
	ul.social-list li a.flickr:hover {
		color: #E474AF;
	}
	
	ul.social-list li a.instgram:hover {
		color: #4D4F54;
	}
	
	ul.social-list li a.vimeo:hover {
		color: #87D3E0;
	}
	
	ul.social-list li a.skype:hover {
		color: #36C4F3
	}
	
	.navbar-default .navbar-toggle {
		margin-top: 15px;
		outline: none;
	}

	.navbar-default .navbar-nav > li > a {
		border: none;
		padding: 5px 10px;
		display: block;
		border: none !important;
		padding-right: 0;
	}
	
	.navbar-default .navbar-nav > li > a:after {
		display: none;
	}

	.navbar-default .navbar-nav > li > a:hover {
		opacity: 0.7;
	}
  
    .navbar-default .navbar-nav > li {
		margin-left: 0;
		display: block;
		margin-bottom: 5px;
        width: 100%
	}

	.navbar-default .navbar-nav > li.drop > a {
	    padding-right: 10px;
	}
	
	.navbar-default .navbar-nav > li.drop > a {
		border-radius: 2px;
	}

	ul.dropdown, ul.sup-dropdown {
		opacity: 1!important;
		position: relative !important;
		visibility: visible !important;
		width:90% !important;
		top: inherit !important;
		left: 0 !important;
		margin-top: 0 !important;
		padding-left: 20px !important;
		box-shadow: none !important;
	}

	ul.dropdown li, ul.sup-dropdown li {
		border-top: none;
	}
  
    .milestone-block {
        display: block;
        clear: left;
        margin-right: 0;
    }
  
    .btn-system {
        margin-bottom: 10px;
    }
  
    .easyPieChart {
      font-size: 24px;
      font-weight: 400;
      position: relative;
      text-align: center;
      display: inline-block;
      margin: 0 0 20px 0;
      overflow: hidden;
    }
    
}



@media (max-width : 1280px) { 
#main-slide .slider-content {
		top:40%;
	}
}


@media (min-width : 768px) and (max-width: 991px) {
    
	
	#main-slide .slider-content {
		top:33%;
	}
	
	
    #main-slide .slider-content h2{
		font-size:35px;
	}
	#main-slide .slider-content h3{
		font-size: 20px;
		margin-top: 12px;
	}

	.slider.btn{
		padding: 5px 25px;
		margin-top: 5px;
		font-size: 16px;
	}
	
	#main-slide .carousel-indicators{
		bottom:0;
	}
	


}


@media (max-width : 767px) {
    
	#main-slide .slider-content {
		top:40%;
	}
	
	
    #main-slide .slider-content h2{
		font-size: 28px;
		line-height: normal;
		margin-bottom: 0;
	}
	#main-slide .slider-content h3{
		font-size: 14px;
		margin-top: 5px;
	}
	.slider.btn{
		padding: 0 15px;
		margin-top: 0;
		font-size: 12px;
	}
	#main-slide .carousel-indicators{
		display: none;
	}
	
		#main-slide .descubre-kubera {
	display:none;
}
    
}


@media (max-width : 479px) {
	body{
		overflow-x: hidden;
	}
	.navbar-toggle{
		display: block !important;
    background-image: url(../../assets/img/cel-menu.png);
    /* margin-top: -37px; */
    border: 3px solid #ffb718;
    border-radius: 200px;
    background-position: 0px;
    top: 16px;
    height: 42px;
    width: 43px;
    right: 4px;
    position: absolute;
	}
	#ruta{
		font-size: 11px !important;
	}
	#subtitulo{
		font-size: 16px !important;
   		margin-left: 48px !important;
	}
    header{
    	min-height: 83px;
    	height: 77px;
  	}
  	#bs-navbar{
  		width: auto;
    margin-top: 0px;
    top: 68px;
    right: 0px;
    position: absolute;
  	}
  	.logo{
  		/*margin-top: -px !important;*/
	    background-size: 122px !important;
	    top: 0px !important;
	    left: 27px !important;
  	}
  	 .logo:hover{
  		margin-top: -7px !important;
	    background-size: 122px !important;
	    top: 48px !important;
	    left: 27px !important;
  		
  	}
  	iframe{
  		width: 100% !important;
		height: 220px !important;
		position: initial !important;
		
  	}
  	h2{
  		font-size: 24px !important;
  		margin-top: -5px !important;
  	}
  	#h2C{
  		font-size: 24px !important;
  		margin-top: 8px !important;
  		margin-bottom: -27px;
  	}
  	.font{
  		font-size: 12px !important;
  	}
  	.container .buscar{
  		width: 123% !important;
		position: relative !important;
		left: -30px !important;
		height: 116px;
		padding-left: 67px;
  	}
  	form{
  		width: 90% !important;
  	}
  	.buscar-consultor input[type="text"]{
  		position: relative !important;
  		left: 0px !important;
  		margin-left: 0px !important;
  		height: 46px;
  		width: 66% !important;
  		font-size: 13px !important;
  		font-size: 13px !important;
  	}
  	.empezar-busqueda{
  		position: relative;
		left: 0px;
		top: 0px;
		width: 28%;
		font-size: 12px !important;
		background-size: 39px;
		font-weight: 600;
		padding-bottom: 11px;
		padding-left: 12px;
		background-position: 51px;
		height: 46px; 
  	}
  	#clientes{
  		margin: 0px auto!important;
	    padding: 0px !important;
	    min-width: 0px !important;
	    width: 100%;
	    max-width: 198px !important;
  	}
  	#clientesImg{
  		margin: 0px auto!important;
  		width: 100% !important;
  	}


	#consultores {
	    margin: 0px auto!important;
	    padding: 0px !important;
	    min-width: 0px !important;
	    width: 100%;
	    max-width: 198px !important;

	}
  	#consultor{
  		margin-left: 7px !important;
  		width: 100%;
  	}
  	#consultor2{
  		margin: 0px auto !important;
   		width: 100% !important;
  	}
  	#consultor1{
  		margin-left: 4px !important;
    	width: 69%;
  	}
  	#comenzando{
  		position: relative;
	    left: -276px;
	    width: 289px;
	    height: initial;
  	}

  	#unirse{
  		display: none;
  	}
  	#hr1{
  	    margin: 0px auto !important;
	    width: 65% !important;
	    
  	}
  	#hr2{
  		margin-top: 10px 0px !important;		
  	}
  	#hr3{
  		margin-left: 60px !important;
	    margin-top: 14px;
	    width: 66% !important;
  	}
  	#hr4{
  		margin-left: 60px !important;
	    margin-top: 14px;
	    width: 66% !important;
  	}
  	#h3Clientes{
  		margin:10px auto !important;
  	}  
  	 
  	#h3Consultores{
  		margin-left: 13px !important;
    	margin-top: 10px !important;
  	}
  	#h5Clientes{
  		margin: 10px auto !important;
  	}  
  	 
  	#h5Consultores{
  		margin: 10px auto !important;
  	}
  	#h4Clientes{
  		margin-left: -392px !important;
    	margin-top: 10px !important;
  	}  
  	 
  	#h4Consultores{
  		margin-left: 5px !important;
    	margin-top: 10px !important;
  	}
  	.wrapper{
  		width: 100%;
	    max-width: 100%;
	    margin: 0px;
	    overflow: hidden;
  	} 

  	.accordion {
	    margin: 0px !important;
	    width: 100% !important;
	} 

  	.tutoriales{
	    left: 0%;
	    top: 0px;
	    margin: 10px 0px;
	    background-size: 203px;
	    font-size: 14px;
	    padding-left: 0px;
	    padding-right: 49px;
	    padding-top: 43px;
	    width: 100%;

  	}
  	 .tutoriales:hover{
	    left: -60%;
	    top: -15px;
	    margin-top: 10px;
	    background-size: 203px;
	    font-size: 14px;
	    padding-left: 0px;
	    padding-right: 49px;
	    padding-top: 43px;
  	}
  	.tutoriales1 {
	    background: url(../../assets/img/over-08.png) no-repeat center right;
		background-position: 17px;
	    background-size: 219px;
	    height: 59px;
	    width: 249px;
	    left: -98%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 62px;
	    margin-left: 275px;
	    top: 21px;
	    font-size: 12px;
	}
	.tutoriales1:hover {
	    background: url(../../assets/img/over-08.png) no-repeat center right;
		background-position: 17px;
	    background-size: 219px;
	    height: 59px;
	    width: 249px;
	    left: -98%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 62px;
	    margin-left: 275px;
	    top: 21px;
	    font-size: 12px;
	}
  	.blog1 {
	    background: url(../../assets/img/over-09.png) no-repeat center right;
		background-position: 35px;
	    background-size: 218px;
	    border-radius: 20px;
	    height: 59px;
	    width: 255px;
	    left: 24%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 75px;
	    margin-left: -72px;
	    margin-bottom: 52px;
	    top: 57px;
	    font-size: 12px;
	}
	.blog1:hover {
	    background: url(../../assets/img/over-09.png) no-repeat center right;
		background-position: 35px;
	    background-size: 218px;
	    border-radius: 20px;
	    height: 59px;
	    width: 255px;
	    left: 24%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 75px;
	    margin-left: -72px;
	    margin-bottom: 52px;
	    top: 57px;
	    font-size: 12px;
	}
  	.blog{
	    left: -17%;
	    background-size: 203px;
	    top: -29px;
	    font-size: 14px;
	    padding-left: 0px;
	    padding-right: 54px;
	    padding-top: 43px;
	    margin-bottom: -64px;
  	}
  	.blog:hover{
	    left: -17%;
	    background-size: 203px;
	    top: -29px;
	    font-size: 14px;
	    padding-left: 0px;
	    padding-right: 54px;
	    padding-top: 43px;
	    margin-bottom: -64px;
  	}
  	.table1 {
	    width: 96%;
	    display: inline-block;
	    background: #ffc63d;
	    font-size: 14px;
	    color: #6d4b12;
	    border-radius: 100px;
	    height: 38px;
	    padding-top: -16px;
	    font-size: 11px;
	    padding-left: 25px;
	    margin-bottom: -1px;
	    margin-left: 0px;
	}
	.table2 {
	    width: 98%;
	    display: inline-block;
	    font-size: 14px;
	    color: #6d4b12;
	    border-radius: 100px;
	    height: 38px;
	    padding-top: -23px;
	    font-size: 11px;
	    padding-left: 5px;
	    margin-bottom: 71px;
	    margin-left: -4px;
	    text-align: justify;
	}
  	#codigo{
  		margin-left: -48px !important;
  	}
  	#terminos{
  		margin-left: -20px !important;
  	}
  	.ayuda{
  		left: 0%;
  		margin-top: 0px;
  		text-align: center;	
	    top:20px;

  	}
  	.servicio{
  		top: 20px;
		left: 0%;
		text-align: center;
  	}
  	#volver{
		margin-bottom: 6px;
	    margin-top: 10px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    padding-top: 6px;
	    margin-left: 14px;
  	}
  	#volver:hover{
		margin-bottom: 6px;
	    margin-top: 10px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    padding-top: 6px;
	    margin-left: 14px;
  	}
  	#volver3{
		margin-bottom: 6px;
	    margin-top: 29px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    margin-left: 14px;
	    margin-right: 10px;
	    top: 23px !important;
  	}

  	#volver3:hover{
		margin-bottom: 6px;
	    margin-top: 29px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    margin-left: 14px;
	    margin-right: 10px;
	    top: 23px !important;
  	}
  	#volverB{
		margin-bottom: 6px;
	    margin-top: 29px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    margin-left: 44px;
	    margin-right: 10px;
	    top: 23px !important;
  	}

  	#volverB:hover{
		margin-bottom: 6px;
	    margin-top: 29px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    margin-left: 14px;
	    margin-right: 10px;
	    top: 23px !important;
  	}
  	#volver1{
		margin-bottom: 6px;
	    margin-top: 29px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    margin-left: 14px;
	    margin-right: 10px;
	    top: 23px !important;
  	}

  	#volver1:hover{
		margin-bottom: 6px;
	    margin-top: 29px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    margin-left: 14px;
	    margin-right: 10px;
	    top: 23px !important;
  	}
  	#volver2{
		margin-bottom: 6px;
	    margin-top: 29px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    margin-left: 14px;
	    margin-right: 10px;
	    top: 23px !important;
  	}
  	#volver2:hover{
		margin-bottom: 6px;
	    margin-top: 29px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    margin-left: 14px;
	    margin-right: 10px;
	    top: 23px !important;
  	}
  	#textoPoder{
  		top: 20px;
  		left: 0px;
  		width: 340px;
  	}
  	footer{
  		height: 850px;
  	}
  	.redes{
  		top:20px;
  	}
  	footer .footer{
  		height: 841px;
  		background-position: -470px 0px;
  	}

  	.respuesta-cliente1{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: -89px;
  	}
  	.respuesta-cliente2{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: 89px;
  	}
  	.respuesta-cliente3{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: 288px;
  	}
  	.respuesta-cliente4{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: -267px;
  	}
  	.respuesta-cliente5{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: -95px;
  	}
  	.respuesta-cliente6{
  		 width: 112% !important;
	    margin-left: -17px !important;
	    position: relative;
	    top: 29px;
	    padding-top: 67px !important;
  	}
  	.numero1{
  		margin-left: 0px;
	    position: relative;
	    left: 8%;
	    background-size: 60px;
  		
  	}
  	.numero2{
  		margin-left: 0px;
  		position: relative;
		left: -58px;
		top: 136px;
		background-size: 60px;
  	}
  	.numero3{
  		margin-left: 0px;
  		margin-top: 0px;
  		position: relative;
		top: 183px;
		left: -82px;
		background-size: 60px;
  	}
  	.numero1C {
		background: url(../../assets/img/ico_1.png) no-repeat center right;
	    margin: -11px;
	    margin-left: 0px
	 	background-size: 60px;
	    left: 9%;
	    position: relative;
	    width: 35%;
	    background-size: 62px;
	    top: 10px;
	}
	.numero2C {
	    background: url(../../assets/img/ico_2.png) no-repeat center right;
	    margin-left: 0px;
	    position: relative;
	    background-size: 60px;
	    top: 131px;
	    left: -58px;
	}
	.numero3C {
	    background: url(../../assets/img/ico_3.png) no-repeat center right;
	    background-size: 60px;
	    margin-left: -81px;
	    margin-top: 179px;
	    margin-right: 82px;
	}
  	#preguntas{
  		margin-top: 290px !important;
  	}
  	img .collapsed-image{
  		position: absolute;
	    margin-top: -84.56px;
	    width: 46.56px;
	    max-width: 66.56px;
	    top: 28px;
	    z-index: 0;
	    margin-left: -30px;
  	}
  	.navbar-nav>li>a{
  		padding-top: 10px;
    padding-bottom: 10px;
    color: #6b3f23;
    left: 0px;
    font-size: 19px;
    margin-top: 0px;
    margin-right: 0px;
    background: white;
    z-index: 1;
  	}
  	.buscar-icon {
	    background: url(../../assets/img/eye.png) no-repeat center right;
	    background-size: contain !important;
	    width: 58px;
	    height: 41px;
	    vertical-align: middle;
	    padding-right: 74px;
	}
	.unirse-icon {
	    background: url(../../assets/img/unirse.png) no-repeat center right;
	    background-size: contain !important;
	    width: 58px;
	    height: 41px;
	    vertical-align: middle;
	    padding-right: 79px;
	}
	#comenzandoCliente2{
            width: 77%;
	    height: 36px;
	    margin:15px auto !important;
	    font-size: 14px;
	    background-size: 217%;
	    background-position: -97px;
	    padding-left: 18%;
	}
	/*#comenzandoCliente2:hover{
	    width: 271px;
	    height: 36px;
	    margin-top: 0px;
	    margin-left: 18px;
	    font-size: 14px;
	    margin-bottom: -13px;
	    background-size: 217%;
	    background-position: -97px;
	    padding-left: 75px;
	}*/

	 #comenzandoCliente{
	    width: 77%;
	    height: 36px;
	    margin: 10px auto;
	    font-size: 14px;
	    margin-bottom: 15px;
	    background-size: 217%;
	    background-position: -97px;
	    padding-left: 10%;
  	}

  	/*#comenzandoCliente:hover{
	    width: 271px;
	    height: 36px;
	    margin-top: 105px;
	    margin-left: -594px;
	    font-size: 14px;
	    margin-bottom: 15px;
	    background-size: 217%;
	    background-position: -97px;
	    padding-left: 56px;
  	}*/

  	#comenzando1 {
	   	width: 100%;
	    height: 36px;
	    margin-top: 0;
	    margin-left: 0px;
	    font-size: 14px;
	    margin-bottom: 0px;
	    background-size: 100% 100%;
	    background-position: 0;
	    padding: 0px;
	}

	#link2:hover a, #link2 {
	    color: #A4A4A4;
	    margin-left: 46px;
	}
	b, strong {
	    font-weight: 700;
	    margin-left: -21px;
	}
	* {
	    box-sizing: border-box;
	    margin-top: -3px;
	}

	#comenzandoConsultores {
	    width: 271px;
	    height: 36px;
	    margin-top: -71px;
	    margin-left: -509px;
	    font-size: 14px;
	    margin-bottom: 15px;
	    background-size: 217%;
	    background-position: -97px;
	    padding-left: 27px;
	}
	center{
		width: 89% !important;
	    margin: 0px auto !important;
	    text-align: justify !important;
	    font-size: 12px !important;
	}
	center1{
		width: 47% !important;
	    margin-left: 298px !important;
	    text-align: justify !important;
	    font-size: 12px !important;
	}
	hr {
	    margin: 0px auto;
	    width: 100% !important;
	    border-top: 1px solid #aaaaaa;
	    border-bottom: 1px solid #ffffff;
	    margin-left: 0px !important;
	}
	h1 {
	    color: #6b3f22;
	    font-size: 35px;
	    margin-bottom: -5px;
	    text-align: center;
	    font-size: 23px !important;
	    margin-top: 8px !important;
	}
	h3 {
	    color: #6b3f22;
	    margin-bottom: 5px;
	    text-align: center;
	    font-size: 18px !important;
	    margin-top: -1px !important;
	    margin-left: 10px !important
	}
	h4 {
	    color: #6b3f22;
	    margin-bottom: -12px;
	    text-align: center;
	    font-size: 18px !important;
	    margin-top: -1px !important;
	    margin-left: 10px !important
	}

	.tutoriales2 {
	    background: url(../../assets/img/over-08.png) no-repeat center right;
		background-position: 17px;
	    background-size: 219px;
	    height: 59px;
	    width: 249px;
	    left: -98%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 62px;
	    margin-left: 275px;
	    top: 21px;
	    font-size: 12px;
	}
	.tutoriales2:hover {
	    background: url(../../assets/img/over-08.png) no-repeat center right;
		background-position: 17px;
	    background-size: 219px;
	    height: 59px;
	    width: 249px;
	    left: -98%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 62px;
	    margin-left: 275px;
	    top: 21px;
	    font-size: 12px;
	}
	.blog2 {
	    background: url(../../assets/img/over-09.png) no-repeat center right;
		background-position: 35px;
	    background-size: 218px;
	    border-radius: 20px;
	    height: 59px;
	    width: 255px;
	    left: 24%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 75px;
	    margin-left: -72px;
	    margin-bottom: 52px;
	    top: 57px;
	    font-size: 12px;
	}
	.blog2:hover {
	    background: url(../../assets/img/over-09.png) no-repeat center right;
		background-position: 35px;
	    background-size: 218px;
	    border-radius: 20px;
	    height: 59px;
	    width: 255px;
	    left: 24%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 75px;
	    margin-left: -72px;
	    margin-bottom: 52px;
	    top: 57px;
	    font-size: 12px;
	}

	.tutorialesB {
	    background: url(../../assets/img/over-08.png) no-repeat center right;
		background-position: 17px;
	    background-size: 219px;
	    height: 59px;
	    width: 249px;
	    left: -98%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 62px;
	    margin-left: 313px;
	    top: 21px;
	    font-size: 12px;
	}
	.tutorialesB:hover {
	    background: url(../../assets/img/over-08.png) no-repeat center right;
		background-position: 17px;
	    background-size: 219px;
	    height: 59px;
	    width: 249px;
	    left: -98%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 62px;
	    margin-left: 275px;
	    top: 21px;
	    font-size: 12px;
	}
	.blogB {
	    background: url(../../assets/img/over-09.png) no-repeat center right;
		background-position: 35px;
	    background-size: 218px;
	    border-radius: 20px;
	    height: 59px;
	    width: 255px;
	    left: 24%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 75px;
	    margin-left: -72px;
	    margin-bottom: 52px;
	    top: 57px;
	    font-size: 12px;
	}
	.blogB:hover {
	    background: url(../../assets/img/over-09.png) no-repeat center right;
		background-position: 35px;
	    background-size: 218px;
	    border-radius: 20px;
	    height: 59px;
	    width: 255px;
	    left: 24%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 75px;
	    margin-left: -72px;
	    margin-bottom: 52px;
	    top: 57px;
	    font-size: 12px;
	}
	#subindice{
		margin: 5px auto !important;
   		width: 85% !important;
	}
	#subindice2{
		margin: 5px auto !important;
   		width: 85% !important;
   		height: auto !important;
	}

       .col-md-12{
            text-align: center;
        }

        .autocomplete-suggestions {
             width:80% !important;
         }

        .autocomplete-suggestion strong{
          margin-left: 0px !important; 
         }
        .cafe1{
            position: relative;
            left: 41px;
        }




}

@media screen and (max-width: 767px) {
	.navbar-toggle{
	    display: none;
	  }
	  .navbar-header{
	    position: relative;
            overflow:initial !important;
	  }
	  .margo-logo-wrapper{
	    position: absolute;
	    top: 0;
	  }
	.navbar-brand{
		position: absolute;
	    top: 0;
	}
	/* #menu is the original menu */
	.js #wpb-mobile-menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}
/* SlickMenu responsive */
@media screen and (min-width: 768px) {
  header{
  	height: 146px;
  }
}

@media (max-width : 700px; min-width: 500px;) {
	body{
		overflow-x: hidden;
	}
	.navbar-toggle{
		display: block !important;
		background-image: url(../../assets/img/cel-menu.png);
		margin-top: -37px;
		border: 3px solid #ffb718;
		border-radius: 200px;
		background-position: 0px;
		top: -67px;
		height: 42px;
		width: 43px;
		left: 4px;
	}
	#ruta{
		font-size: 11px !important;
	}
	#subtitulo{
		font-size: 16px !important;
   		margin-left: 48px !important;
	}
    header{
    	min-height: 83px;
    	height: 77px;
  	}
  	#bs-navbar{
  		width: auto;
    margin-top: 0px;
    top: 68px;
    right: 0px;
    position: absolute;
  	}
  	.logo{
  		/*margin-top: -7px !important;*/
	    background-size: 122px !important;
	    top: 0px !important;
	    left: 27px !important;
  	}
  	 .logo:hover{
  		margin-top: -7px !important;
	    background-size: 122px !important;
	    top: 48px !important;
	    left: 27px !important;
  		
  	}
  	iframe{
  		width: 362px !important;
		height: 220px !important;
		position: relative !important;
		left: -329px !important;
  	}
  	h2{
  		font-size: 24px !important;
  		margin-top: -5px !important;
  	}
  	#h2C{
  		font-size: 24px !important;
  		margin-top: 8px !important;
  		margin-bottom: -27px;
  	}
  	font{
  		font-size: 12px !important;
  	}
  	.container .buscar{
  		width: 123% !important;
		position: relative !important;
		left: -30px !important;
		height: 116px;
		padding-left: 67px;
  	}
  	form{
  		width: 220px !important;
  	}
  	.buscar-consultor input[type="text"]{
  		position: relative !important;
  		left: 0px !important;
  		margin-left: 0px !important;
  		height: 46px;
  		width: 66% !important;
  		font-size: 13px !important;
  		font-size: 13px !important;
  	}
  	.empezar-busqueda{
  		position: relative;
		left: 121px;
		top: -42px;
		width: 46px;
		font-size: 12px !important;
		background-size: 39px;
		font-weight: 600;
		padding-bottom: 11px;
		padding-left: 12px;
		background-position: 51px;
		height: 46px; 
  	}
  	#clientes{
  		margin-left: -119px !important;
  	}
  	#clientesImg{
  		margin-left: -138px !important;
  		width: 60%;
  	}
  	#consultor{
  		margin-left: 7px !important;
  		width: 100%;
  	}
  	#consultor2{
  		margin-left: -43px !important;
   		width: 91%;
  	}
  	#consultor1{
  		margin-left: 4px !important;
    	width: 69%;
  	}
  	#comenzando{
  		position: relative;
	    left: -276px;
	    width: 289px;
	    height: initial;
  	}
  	#hr1{
  	    margin: 0px auto !important;
	    width: 65% !important;
	  
  	}
  	#hr2{
  		margin-left: 84px !important;
  		margin-top: -17px;
  	}
  	#hr3{
  		margin-left: 60px !important;
	    margin-top: 14px;
	    width: 66% !important;
  	}
  	#hr4{
  		margin-left: 60px !important;
	    margin-top: 14px;
	    width: 66% !important;
  	}
  	#h3Clientes{
  	margin:10px auto !important;
  	}  
  	 
  	#h3Consultores{
  		margin-left: 13px !important;
    	margin-top: 10px !important;
  	}
  	#h5Clientes{
  		margin-left: -382px !important;
    	margin-top: 10px !important;
  	}  
  	 
  	#h5Consultores{
  		margin-left: -37px !important;
    	margin-top: 10px !important;
  	}
  	#h4Clientes{
  		margin-left: -392px !important;
    	margin-top: 10px !important;
  	}  
  	 
  	#h4Consultores{
  		margin-left: 5px !important;
    	margin-top: 10px !important;
  	}
  	.wrapper{
  		width: 100%;
	    max-width: 100%;
	    margin: -21px;
	    overflow: hidden;
  	}  
  	#accordion-1, #accordion-2, #accordion-3, #accordion-4{
  		margin-left: -224px !important;
  	}
  	.accordion-section:last-child .accordion-section-title, .accordion-section2:last-child .accordion-section-title2, .accordion-section4:last-child .accordion-section-title4, .accordion-section5:last-child .accordion-section-title5, .accordion-section6:last-child {
	    border-bottom: none;
	    margin-left: 77px;
	    font-size: 13px;
	    width: 78% !important;
	    height: 31px;
	    padding-top: 7px;
	    margin-top: -35px;
	    height: 32px;
	    font-size: 12px;
	}
	.accordion-section-title6 {
		width: 40% !important;
	    position: relative;
	    left: 51%;
	    text-align: center;
	    height: 40px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 58px;
	    top: -42px;
	}
	.accordion-section-content2{
	    padding:5px;
	    display:none;

	}

	.accordion-section-title.active, .accordion-section-title:hover, .accordion-section-title2.active, .accordion-section-title2:hover, .accordion-section-title5.active, .accordion-section-title6:hover {
	    background: #6b3f22;
	    border-bottom: none;
	    width: 10%;
	    margin-left: -34px;
	    font-size: 13px;
	    width: 78% !important;
	    height: 31px;
    padding-top: 5px;
	}
	.accordion-section-title4.active{
		background: #6b3f22;
	    border-bottom: none;
	    width: 61%;
	    margin-left: 8px;
	    font-size: 13px;
	    width: 78% !important;
	    height: 31px;
   		padding-top: 5px;
   		top:0px;
	}
	.accordion-section-title5.active{
		background: #6b3f22;
	    border-bottom: none;
	    width: 61%;
	    margin-left: -143px;
	    font-size: 13px;
	    width: 78% !important;
	    height: 31px;
    padding-top: 5px;
	}
	.accordion-section-title6.active{
		background: #6b3f22;
	    text-decoration: none;
	    color: #ffc63d;
	    border-radius: 100px;
	    width: 75% !important;
	    margin-left: -313px;
	    height: 32px;
	    font-size: 13px;
	    top: -21px;
	    padding-top: 5px;
	}
  	.tutoriales{
  		left: -46%;
	    top: -15px;
	    margin-top: 10px;
  	}
  	.tutoriales1{
  		left: -103%;
	    top: -13px;
	    margin-top: 28px;
  	}
  	.blog1{
  		left: 45%;
  	}
  	.blog{
  		left: 24%;
  	}
  	#codigo{
  		margin-left: -48px !important;
  	}
  	#terminos{
  		margin-left: -20px !important;
  	}
  	.ayuda{
  		left: 23%;
  		margin-top: 31px;
  	}
  	.servicio{
  		top: 16%;
		left: 24%;
  	}
  	#volver{
  		margin-bottom: 6px;
	    margin-top: 10px;
	    width: 67%;
	    height: 26px;
	    font-size: 12px;
	    padding-top: 6px;
  	}
  	#volver1{
  		margin-bottom: 8px;
	    left: 21px !important;
	    margin-left: 64px;
	    margin-top: 76px;
	    font-size: 13px;
	    width: 65%;
	    padding-top: 7px;
  	}
  	#volver2{
  		margin-bottom: 8px;
	    margin-left: 253px;
	    margin-top: -42px;
	    width: 65%;
	    font-size: 13px;
	    padding-top: 6px;
	    padding-left: 23px;
  	}
  	.accordion-section-title,.accordion-section-title4, 
  	.accordion-section-title5, .accordion-section-title6{
  		width: 100% !important;
  		text-align: center;
  	}
  	.accordion-section-title3{
	    width: 47% !important;
	    position: relative;
	    left: 14%;
	    text-align: center;
	    height: 38px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 45px;
  	}
  	.accordion-section-title4{
  		width: 40% !important;
	    position: relative;
	    left: 10%;
	    text-align: center;
	    height: 42px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 29px;
	    top: 14px;
  	}	
  	.accordion-section-title5{
  		width: 40% !important;
	    position: relative;
	    left: 30%;
	    text-align: center;
	    height: 58px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 45px;
	    top: -14px;
  	}	
  	.accordion-section-title6{
	  	width: 40% !important;
	    position: relative;
	    left: 51%;
	    text-align: center;
	    height: 40px;
	    padding-top: 7px;
	    font-size: 12px;
	    margin-top: 58px;
	    top: -42px;
  	}
  	.accordion-section-title2{
	    width: 47% !important;
	    position: relative;
	    left: 50%;
	    text-align: center;
	    height: 39px;
	    margin-top: 1px !important;
	    top: -50px;
	    font-size: 12px;
  	}
  	.accordion-section-title2.active{
  		width: 40% !important;
	    position: relative;
	    left: 21%;
	    text-align: center;
	    height: 29px;
	    margin-top: 1px !important;
	    top: -4px;
	    font-size: 12px;
  	}
  	.accordion-section-title3.active{
  		width: 40% !important;
	    position: relative;
	    left: 36%;
	    text-align: center;
	    height: 29px;
	    margin-top: 44px !important;
	    top: 8px;
	    font-size: 12px;
  	}
  	#textoPoder{
  		top: 120px;
  		left: 0px;
  		width: 340px;
  	}
  	footer{
  		height: 850px;
  	}
  	.redes{
  		top:23%;
  	}
  	footer .footer{
  		height: 841px;
  		background-position: -470px 0px;
  	}

  	.respuesta-cliente1{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: -89px;
  	}
  	.respuesta-cliente2{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: 89px;
  	}
  	.respuesta-cliente3{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: 288px;
  	}
  	.respuesta-cliente4{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: -267px;
  	}
  	.respuesta-cliente5{
  		width: 112% !important;
  		margin-left: -17px !important;
  		position: relative;
		top: -95px;
  	}
  	.respuesta-cliente6{
  		 width: 112% !important;
	    margin-left: -17px !important;
	    position: relative;
	    top: 29px;
	    padding-top: 67px !important;
  	}
  	.numero1{
  		margin-left: 0px;
	    position: relative;
	    left: 8%;
	    background-size: 60px;
  		
  	}
  	.numero2{
  		margin-left: 0px;
  		position: relative;
		left: -58px;
		top: 136px;
		background-size: 60px;
  	}
  	.numero3{
  		margin-left: 0px;
  		margin-top: 0px;
  		position: relative;
		top: 183px;
		left: -82px;
		background-size: 60px;
  	}
  	.numero1C {
		background: url(../../assets/img/ico_1.png) no-repeat center right;
	    margin: -11px;
	    margin-left: 0px
	 	background-size: 60px;
	    left: 9%;
	    position: relative;
	    width: 35%;
	    background-size: 62px;
	    top: 10px;
	}
	.numero2C {
	    background: url(../../assets/img/ico_2.png) no-repeat center right;
	    margin-left: 0px;
	    position: relative;
	    background-size: 60px;
	    top: 131px;
	    left: -58px;
	}
	.numero3C {
	    background: url(../../assets/img/ico_3.png) no-repeat center right;
	    background-size: 60px;
	    margin-left: -81px;
	    margin-top: 179px;
	    margin-right: 82px;
	}
  	#preguntas{
  		margin-top: 290px !important;
  	}
  	img .collapsed-image{
  		position: absolute;
	    margin-top: -84.56px;
	    width: 46.56px;
	    max-width: 66.56px;
	    top: 28px;
	    z-index: 0;
	    margin-left: -30px;
  	}
  	.navbar-nav>li>a{
  		padding-top: 10px;
    padding-bottom: 10px;
    color: #6b3f23;
    left: 0px;
    font-size: 19px;
    margin-top: 0px;
    margin-right: 0px;
    background: white;
    z-index: 1;
  	}
  	.buscar-icon {
	    background: url(../../assets/img/eye.png) no-repeat center right;
	    background-size: contain !important;
	    width: 58px;
	    height: 41px;
	    vertical-align: middle;
	    padding-right: 74px;
	}
	.unirse-icon {
	    background: url(../../assets/img/unirse.png) no-repeat center right;
	    background-size: contain !important;
	    width: 58px;
	    height: 41px;
	    vertical-align: middle;
	    padding-right: 79px;
	}
	#comenzandoCliente2{
	    width: 77%;
	    height: 46px;
	    margin: 15px auto !important;
	    font-size: 13px;
	    padding-left: 44px;
	}
	 #comenzandoCliente{
  	    margin 10px auto;
	    height: 50px;
	    width: 266px;
	    font-size: 12px;
	   
   		padding-left: 30px;
  	}
  	#comenzando1 {
	    width: 271px;
	    height: 36px;
	    margin-top: -56px;
	    margin-left: 17px;
	    font-size: 14px;
	    background-size: 217%;
	    background-position: -97px;
	    padding-left: 75px;
	}

	#link2:hover a, #link2 {
	    color: #A4A4A4;
	    margin-left: 46px;
	}
	b, strong {
	    font-weight: 700;
	    margin-left: -21px;
	}
	* {
	    box-sizing: border-box;
	    margin-top: -3px;
	}

	#comenzandoConsultores {
	    width: 264px;
	    height: 46px;
	    margin-top: -73px;
	    font-size: 13px;
	    margin-left: -455px;
	    padding-left: 28px;
	}
	center{
		width: 47% !important;
	    margin-left: 298px !important;
	    text-align: justify !important;
	    font-size: 12px !important;
	}
	center1{
		width: 47% !important;
	    margin-left: 298px !important;
	    text-align: justify !important;
	    font-size: 12px !important;
	}
	hr {
	    margin: 0px auto;
	    width: 45% !important;
	    border-top: 1px solid #aaaaaa;
	    border-bottom: 1px solid #ffffff;
	    margin-left: 304px !important;
	}
	h1 {
	    color: #6b3f22;
	    font-size: 35px;
	    margin-bottom: -5px;
	    text-align: center;
	    font-size: 23px !important;
	    margin-top: 8px !important;
	}
	h3 {
	    color: #6b3f22;
	    margin-bottom: 5px;
	    text-align: center;
	    font-size: 18px !important;
	    margin-top: -1px !important;
	    margin-left: 10px !important
	}
	h4 {
	    color: #6b3f22;
	    margin-bottom: -12px;
	    text-align: center;
	    font-size: 18px !important;
	    margin-top: -1px !important;
	    margin-left: 10px !important
	}
	.accordion3 {
	    overflow: hidden;
	    border-radius: 71px;
	    background: white;
	    width: 142% !important;
	    margin-left: -68px;
	}
	.tutoriales2 {
	    background: url(../../assets/img/over-08.png) no-repeat center right;
	    background-position: 17px;
	    background-size: 219px;
	    height: 59px;
	    width: 249px;
	    left: -98%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 62px;
	    margin-left: 282px;
	    top: -36px;
	    font-size: 12px;
	}
	.blog2 {
	    background: url(../../assets/img/over-09.png) no-repeat center right;
	    background-position: 35px;
	    background-size: 218px;
	    border-radius: 20px;
	    height: 59px;
	    width: 255px;
	    left: 24%;
	    padding-top: 21px;
	    font-weight: bold;
	    padding-left: 75px;
	    margin-left: -62px;
	    margin-bottom: -158px;
	    top: -144px;
	}
}


